{
  "plugins": [
    ["import", [{
        "libraryName": "antd",
        "libraryDirectory": "lib",
        "style": "css"
      },
      {
        "libraryName": "antd-mobile",
        "libraryDirectory": "component",
      },
    ]]
  ]
}
